ebot_nav/bag_files/iteration1.bag
ebot_nav/bag_files/iteration2.bag
ebot_nav/bag_files/iteration3.bag
ebot_nav/bag_files/iteration4.bag
ebot_nav/bag_files/iteration5.bag
ebot_nav/bag_files/iteration6.bag
ebot_nav/bag_files/iteration7.bag
ebot_nav/bag_files/iteration8.bag
ebot_nav/bag_files/iteration9.bag
